<h1>NOTA</h1>
<h2>Titulo: <%= @nota.title %></h2>
<h3>Contenido: <%= @nota.content %></h3>

<a href="/notes/<%=@nota.id%>/edit">Editar</a>
<a href="/notes/<%=@nota.id%>/delete">Borrar</a>
<a href="/">Volver al listado</a>
